<form id="form-edit" method="post">
  Data:<br>
  <input id="data" type="date"><br>
  Hora:<br>
  <input id="hora" type="time"><br>
  Description:<br>
  <input id="description" type="text"><br>
  Amount:<br>
  <input id="amount" type="number"><br>
  Comment:<br>
  <input id="comment" type="text"><br><br>
  <input id="id" type="hidden"><br><br>
  <input id="enviar" type="button" value="Submit">
  <input id="editar" type="button" value="Editar">
</form>